.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
testdata/work
.ipynb_checkpoints/
.python-version
!tools/collector/.python-version
.venv
docs/_build/
data_generation/bin/.ipynb_checkpoints/
**/__pycache__/
.coverage
coverage.xml
.coverage*
**/.pytest_cache/
testdata/output/
testdata/work/
testdata/output_full/
testdata/work_full/
logs/.nextflow.*
testdata/output/*
testdata/work/*
testdata/output_full/*
testdata/work_full/*
.omx
.nf-test
.nf-test.log
.worktrees/
testdata/work_gentropy/
testdata/output_gentropy/
