params {
    publish_dir_mode    = "copy"
    trace_report_suffix = new Date().format("yyyy-MM-dd_HH-mm-ss")
    gentropy_spark_uri  = "local[*]"
    gentropy_spark_conf = "{}"
    locus_breaker_method = "collector"
    ld_index = null
    ld_pairs_input = null
    ld_references = []
    empty_status_stub_emit = false
    manifest_base_dir = projectDir
}

process {
    shell = [
        "bash",
        "-C",
        "-e",
        "-u",
        "-o",
        "pipefail",
    ]

    withLabel: spark {
        stageInMode = 'copy'
    }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

docker {
    enabled = true
}


plugins {
    id 'nf-google'
}


profiles {
    test {
        includeConfig 'conf/test.config'
    }
    testGentropyLocal {
        includeConfig 'conf/test-gentropy-local.config'
    }
    fullTest {
        includeConfig 'conf/full-test.config'
    }
    googleCloud {
        includeConfig 'conf/google-cloud.config'
    }
    googleCloudTest {
        includeConfig 'conf/google-cloud-test.config'
    }
}

timeline {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_timeline/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_report/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_trace/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/pipeline_dag/pipeline_dag_${params.trace_report_suffix}.html"
}
