// Load basic configuration required for all profiles
includeConfig 'conf/base.config'
// Load the configuration for default executor (local)
includeConfig 'conf/local.config'


profiles {
    // Overwrite the datasources full config with the test config
    test {
        includeConfig 'conf/test.config'
    }
    // Overwrite the local.config file with the profile supporting google-batch executor
    googleCloud {
        includeConfig 'conf/google-batch.config'
    }
    docker {
        docker.enabled = true
    }
}
