executor.name = "local"

workDir = "${projectDir}/testdata/work_full"
params {
    manifest   = "${projectDir}/testdata/manifest.full.tsv"
    manifest_base_dir = "${projectDir}"
    output_dir = "${projectDir}/testdata/output_full"
    route      = "multi_susie_route"
    gentropy_spark_uri = "local[2]"
    gentropy_spark_conf = "{spark.driver.memory:24g,spark.executor.memory:24g,spark.driver.maxResultSize:4g}"
}

process {
    withLabel: gentropy {
        container        = 'ghcr.io/opentargets/gentropy:3.3.0-dev.64'
        containerOptions = '--entrypoint=""'
    }
    withLabel: collector {
        container = 'ghcr.io/opentargets/collector:1.0.0'
    }
    withLabel: locus_breaker {
        cpus       = 2
        memory     = 28.GB
        time       = 30.m
        maxRetries = 1
    }
}
