executor.name = 'google-batch'

workDir = 'gs://ot_orchestration/tests/multi_ancestry_fine_mapping/work'
params {
    manifest   = "gs://ot_orchestration/tests/multi_ancestry_fine_mapping/manifest"
    output_dir = "gs://ot_orchestration/tests/multi_ancestry_fine_mapping/output"
}


google {
    enableRequesterPaysBuckets = true
    location                   = 'europe-west1'
    project                    = 'open-targets-genetics-dev'
    batch {
        spot            = true
        maxSpotAttempts = 1
    }
}
