executor.name = 'google-batch'

workDir = 'gs://gwas_catalog_multi_ancestry_fine_mapping/work_gcloud_test'
params {
    collector_container = 'ghcr.io/opentargets/nf-fine-mapping/collector:cb2e65cea36ce8971d2fe4f08dad071ab09b7c7a'
    manifest = 'gs://gwas_catalog_multi_ancestry_fine_mapping/manifest.test.tsv'
    manifest_base_dir = '.'
    output_dir = 'gs://gwas_catalog_multi_ancestry_fine_mapping/output_gcloud_test'
    route = 'multi_susie_route'
    locus_breaker_method = 'collector'
    ld_annotation_method = 'hailing_ducks'
    ld_registry = [
        [ancestry: 'nfe', ht_path: 's3://pan-ukb-us-east-1/ld_release/UKBB.EUR.ldadj.variant.b38.ht', bm_path: 's3://pan-ukb-us-east-1/ld_release/UKBB.EUR.ldadj.bm'],
        [ancestry: 'eas', ht_path: 's3://pan-ukb-us-east-1/ld_release/UKBB.CSA.ldadj.variant.b38.ht', bm_path: 's3://pan-ukb-us-east-1/ld_release/UKBB.CSA.ldadj.bm'],
        [ancestry: 'afr', ht_path: 's3://pan-ukb-us-east-1/ld_release/UKBB.AFR.ldadj.variant.b38.ht', bm_path: 's3://pan-ukb-us-east-1/ld_release/UKBB.AFR.ldadj.bm'],
    ]
    fine_mapping_methods = ['multisusie']
    hailing_ducks_container = 'ghcr.io/project-defiant/hailing-ducks:v1.1.0'
    hailing_ducks_max_cached_blocks = 8
    canonical_region_min_maf = 0.01
    canonical_region_max_region_span_bp = 3_000_000
}


google {
    enableRequesterPaysBuckets = true
    location                   = 'europe-west1'
    project                    = 'open-targets-genetics-dev'
    batch {
        spot            = true
        maxSpotAttempts = 1
    }
}


process {
    withLabel: collector {
        cpus       = 2
        memory     = 10.GB
        container  = params.collector_container
    }
    withLabel: locus_breaker {
        cpus       = 2
        memory     = 10.GB
        time       = 10.m
        maxRetries = 1
    }
    withLabel: ld_annotation {
        cpus       = 2
        memory     = 8.GB
        time       = 60.m
        maxRetries = 1
    }
    withLabel: locus_collection {
        disk          = { [10.GB, 25.GB, 50.GB][Math.min(task.attempt - 1, 2)] }
        maxRetries    = 2
        errorStrategy = { task.exitStatus == 75 ? 'retry' : 'terminate' }
    }
    withLabel: multisusie {
        cpus       = 2
        memory     = 8.GB
    }
    withLabel: susiex {
        cpus       = 2
        memory     = 8.GB
    }
    withLabel: sushie {
        cpus       = 2
        memory     = 8.GB
    }
}
