executor.name = 'google-batch'

workDir = 'gs://ot_orchestration/tests/multi_ancestry_fine_mapping/work'
params {
    collector_container = 'collector:latest'
    manifest   = "gs://ot_orchestration/tests/multi_ancestry_fine_mapping/manifest.tsv"
    output_dir = "gs://ot_orchestration/tests/multi_ancestry_fine_mapping/output"
    route      = "multi_susie_route"
    gentropy_ld_annotation_spark_conf = "{spark.driver.memory:40g,spark.executor.memory:40g,spark.driver.maxResultSize:8g}"
}


google {
    enableRequesterPaysBuckets = true
    location                   = 'europe-west1'
    project                    = 'open-targets-genetics-dev'
    batch {
        spot            = true
        maxSpotAttempts = 1
    }
}


process {
    withLabel: gentropy {
        cpus            = 4
        memory          = 40.GB
        container        = 'ghcr.io/opentargets/gentropy:3.3.0-dev.64'
        containerOptions = '--entrypoint=""'
    }
    withLabel: collector {
        cpus       = 2
        memory     = 10.GB
        container  = params.collector_container
    }
    withLabel: locus_breaker {
        cpus       = 2
        memory     = 10.GB
        time       = 10.m
        maxRetries = 1
    }
    withLabel: ld_annotation {
        cpus       = 8
        memory     = 48.GB
        time       = 60.m
        maxRetries = 1
    }
    withLabel: locus_collection {
        disk          = { [10.GB, 25.GB, 50.GB][Math.min(task.attempt - 1, 2)] }
        maxRetries    = 2
        errorStrategy = { task.exitStatus == 75 ? 'retry' : 'terminate' }
    }
    withLabel: multisusie {
        cpus       = 8
        memory     = 48.GB
    }
    withLabel: susiex {
        cpus       = 8
        memory     = 48.GB
    }
    withLabel: sushie {
        cpus       = 8
        memory     = 48.GB
    }
}
