executor.name = "local"
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

workDir = "${projectDir}/testdata/work"
params {
    manifest     = "${projectDir}/testdata/manifest.tsv"
    ld_reference = "${projectDir}/testdata/ld_reference.tsv"
    output_dir   = "${projectDir}/testdata/output"
    min_r2       = 0.5
    liftover     = "gs://gcp-public-data--gnomad/release/2.1.1/liftover_grch38/ht/genomes/gnomad.genomes.r2.1.1.sites.liftover_grch38.ht"
    chain        = "gs://hail-common/references/grch37_to_grch38.over.chain.gz"
}

timeline {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_timeline/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_report/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_trace/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/pipeline_dag/pipeline_dag_${params.trace_report_suffix}.html"
}

process {
    withLabel: collector {
        container  = 'collector:latest'
        cpus       = 2
        memory     = '2.GB'
        time       = "5m"
        maxRetries = 1
        memory     = '2.GB'
    }
    withLabel: intersection {
        container  = 'ubuntu:latest'
        cpus       = 4
        memory     = '2.GB'
        time       = "10m"
        maxRetries = 1
        memory     = '2.GB'
    }
    // Required for Spark (as it can not read symlinks)
    withLabel: spark {
        stageInMode = 'copy'
    }
}
