// Configuration used for pipeline testing
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}
// Test data configuration for finngen meta analysis ingestion workflows
params.input = "tests/data/example_sumstats/leadvariantId=1_205247445_G_A/*/*.csv"
